/* Enter your custom styles here */
.testText {
	color: red !important;
}
.orderReleaseScreenRowColor{
background: ec1c24 !important;
font-weight: bold;
}
.orderReleaseScreenHeaderColor{
background: 4b4949 !important;
font-weight: bold;
}

.testText {
            font-size: 30px  !important;
             font-weight: bold  !important;
	color: red !important;
}
.customButton > .sapMBtnInner {
    /*    width:300px;*/
	height:50px !important;
	background-color: #406080 !important;
	color:white !important;
	border: 2px solid white; 
	border-radius: 1em;
	font-size: 40px;
}
.customButton > .sapMBtn{
    /*    width:300px;*/
     /*  height:100px !important;*/
        background-color: brown !important;
color:white !important;
        border: 1px solid brown;
        border-radius: 1em;
}

.headerText {
            font-size: 20px  !important;
            font-weight: bold  !important;
}
.tableText {
            font-size: 15px  !important;
            font-weight: bold  !important;
	color: #b00 !important;
}

.customHeightInput .sapMInputBaseInner {
    font-size: 30px !important;
   
}

