/* Enter your custom styles here */


.customText {
    font-weight: bold !important;
    font-family: "72","72full",Arial,Helvetica,sans-serif !important;
    text-shadow: 0 1px 0 #fff !important;
    color: #b00 !important;
   font-size: 0.9rem  !important;
}